@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

/* * section */
#rock-paper-scissor {
    background-color: #9c835f;
    height: 100vh;
    width: 100vw;
}
.tittle h1 {
    color: #f9b23d;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* TODO: fixing the left padding for li item */
/* * image list */
ul li {
    list-style: none;
    width: 230px;
    height: 210px;
}
ul li:hover {
    background-color: lightblue;
    border-radius: 10px;
}
ul li img {
    width: 130px;
}

/* * text-area */
.vs {
    color: #bd0000;
    font-size: 140px;
    font-weight: bold;
    letter-spacing: 14px;
}

/* ! js styling */
/* * image list */
.active {
    background-color: lightblue;
    border-radius: 10px;
}
/* * text-area */
.game-result {
    color: white;
    font-size: 38px;
    letter-spacing: 4px;
    padding: 35px;
    border-radius: 15px;
    width: 280px;
    height: 170px;
}
.game-result-win {
    background-color: #4c9654;
}
.game-result-draw {
    background: #035b0c;
}
.rotate {
    transform: rotate(-28deg);
}

/* * media query */
@media (max-width: 1400px) {
    .img-container {
        width: 180px;
        height: 160px;
    }
    .img-container img {
        width: 80px;
    }
}
@media (max-width: 1280px) {
    #rock-paper-scissor {
        height: 100%;
    }
    .container {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
@media (max-width: 920px) {
    #rock-paper-scissor {
        height: 100vh;
    }
    .container {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 25%);
    }
}
@media (max-width: 768px) {
    #rock-paper-scissor {
        height: 100vh;
    }
    .container {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
@media (max-width: 576px) {
    #rock-paper-scissor {
        height: 100%;
    }
    .container {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}
